# Environments
venv/
env/
.env
node_modules/
dist/
neo4j

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Logs
*.log
pip_install.log
npm_install.log

# Prisma generated
backend/prisma/prisma/

# OS
.DS_Store
Thumbs.db

# Native binaries
*.apk
